@import "variables";
@import "mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
	font-family: $font-primary;
	font-size: 1.2rem;
	background: $color-bg;
	color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-primary;
	color: $color-secondary;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 25px;

	small {
    font-size: 50%;
		color: $color-primary;
	}
}

h1 {
	font-size: 4.4rem;
	line-height: 75%;
}

h2 {
	font-size: 4.9rem;
	line-height: 120%;
	text-transform: none;
	font-weight: 600;
}

h3 {
	font-size: 2.6rem;
	line-height: 120%;
	font-weight: 600;
	margin: 40px 0 25px 15px;
}

h4 {
	text-transform: none;
	font-size: 2rem;
	line-height: 120%;
	font-weight: 600;
	// margin: 0 0 15px 15px;
}

a {
	color: $seventeens3;

	&:hover {
		color: darken($seventeens3, 25);
	}
}

.btn-warning {
	background-color: $color-primary;
	border: none;
	color: $color-bg;
	font-weight: 600
}

hr {
	background-color: $color-secondary;
	border: none;
	height: 2px;
	width: 100%;
	margin: 30px 0 0 0;
}

label.small {
	font-weight: 400;
	text-align: center;
	margin: -10px 0 0 0;
	display: block;
}

// xs
@media (max-width: 767px) {
	h1 {
		margin-top: 50px;
	}
}

// xxs
@media (max-width: 320px) {
	h1 {
		font-size: 3.8rem;
	}

	h3 {
		font-size: 1.8rem;
	}

	h4 {
		font-size: 1.5rem;
	}
}


@media (max-width: 575px) {
  .hidden-xxs {
    display: none;
  }
} // xxs
@media (min-width: 576px) and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
} // xs
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
} // sm
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none;
  }
} // md
@media (min-width: 1200px) {
  .hidden-lg {
    display: none;
  }
} // lg
