// Screen sizes
// xs -> 768px <- sm -> 992px <- md -> 1200px <- lg

// // Susy setup
// $total-columns: 12;
// $column-width: 4em;
// $gutter-width: 1em;
// $grid-padding: $gutter-width;

// @include border-box-sizing;

// $small: 30em;
// $medium: 47em;
// $large: 75em;

.header-bg {
	margin: 0;
	padding: 0;
	width: 100%;
	// background-image: url(../img/bg2.jpg);
	// background-repeat: no-repeat;
	// background-position: center;
	z-index: -1;
	background: url(../img/bg1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo h1 a {
	width: 70px;
	height: 80px;
	background-image: url(../img/logo1.png);
	margin-right: 20px;
	display: block
}

.utp {
	margin: 180px 0 30px 0;
}

.timer {
	margin: 10px 0 25px 0;
}

.media-body div {
	color: gray;
}

.pull-left {
	margin-right: 19px; 
}

.clearfix {
	height: 20px;
	clear: both;
}

.contacts {
	background-color: $white;
	border: 1px solid $color-secondary;
	@include border-radius(10px);

	padding: 10px;

	h4 {
		text-align: center;
		margin: 0 0 10px 0;
	}

	label {
		font-size: 1.2rem;
		margin-top: -10px;
	}
}

.or {
	font-size: 2.2rem;
	padding-top: 87px;
	text-align: center;
}

.callback {
	h4 {
		margin: 8px 0 10px 0;
	}

	ul {
		font-size: 4.1rem;
	}
}

.yourchoise {
	margin: 40px 0 0 0;
}

// lg
@media (min-width: 1200px) {
	.thumbnail {
		.caption {
			font-size: 1.7rem;
		}

		img {
			max-width: 125px
		}
	}
}

// md
@media (min-width: 992px) and (max-width: 1199px) {
	.callback {
		ul {
			font-size: 3.3rem;
		}
	}

	#advantages-door, #advantages-door-2 {
		ul li {
			width: 144px;
		}
	}
}

// sm
@media (min-width: 768px) and (max-width: 991px) {
	.utp {
		margin-top: 120px;
	}

	.thumbnail {
		.caption {
			font-size: 2rem;
		}

		img {
			max-width: 155px
		}
	}

	#advantages-door ul li {
		width: 169px;
	}

	.callback {
		text-align: center;

		ul {
			font-size: 4.3rem;
		}
	}

	.or {
		padding: 30px 0 30px 0;
	}

	.step {
		p {
			font-size: 1.5rem;
		}
	}
}

// xs
@media (max-width: 767px) {
	.tel, .logo {
		text-align: center;
	}

	.utp {
		margin-top: 80px;

		button {
			margin-top: 30px
		}

		div > h2 {
			font-size: 4.2rem;
		}
	}

	h1 {
		margin-top: 50px;
	}

	.callback {
		text-align: center;

		ul {
			font-size: 4.3rem;
		}
	}
	
	.or {
		padding: 30px 0 30px 0;
	}

	.step {
		.glyphicon {
			font-size: 7rem;
			padding: 25px;
		}

		p {
			font-size: 1.7rem;
			strong {
				font-weight: 400;
			}
		}
	}

	.step-by-step {
		top: 150px;
		border-width: 8px;
	}
}

// xxs
@media (max-width: 320px) {
	h1 {
		font-size: 3.8rem;
	}

	h3 {
		font-size: 1.8rem;
	}

	h4 {
		font-size: 1.5rem;
	}

	.tel {
		font-size: 2.9rem;
	}

	.utp {
		div > h2 {
			font-size: 3.2rem;
		}
	}

	.step {
		.glyphicon {
			font-size: 3.5rem;
			padding: 15px;
		}

		p {
			font-size: 1.1rem;
		}
	}

	.step-by-step {
		top: 110px;
		border-width: 4px;
	}

	.media-body div {
		font-size: 1.1rem;
	}

	blockquote {
		font-size: 1.7rem;
	}

	.yourchoise {
		font-size: 2.9rem;
		margin-top: 10px;
	}

	.callback {
		h4 {
			font-size: 2rem;
		}

		ul {
			font-size: 3rem;
		}
	}
}