<div class="container">
  <h1>Congratulations!</h1>
  <h2>Your new project "abracadabra" is set up!</h2>

  <p>The repository is available on the abracadabra_repo</p>

  <p>Feel free to use all the fantastic features of</p>

  <ul class="list-unstyled">
    <li *ngFor="let feature of features">
      <a href="{{ feature.link }}" target="_blank">
        <fa-icon [icon]="['fas', feature.icon]"></fa-icon>
        {{ feature.name }}
        {{ feature.version }}
      </a>
    </li>
  </ul>

  <p>Deploy your app straight to GitHub Pages just by running script <code>npm run deploy</code>.</p>

  <p>Set your style-guide colors in <code>src/styles/_variables.scss</code>.</p>

  <p>Upload and render markdown files to your pages like this:</p>
  <hr>
  <div [innerHTML]="renderedMarkdown"></div>
</div>