<hr><br><br><br>
<div class="row">
	<div class="col-sm-4 col-lg-2 col-lg-offset-1 text-center thumbnail">
		<img src="assets/images/12years.png" alt="bulba" class="img-responsive center-block">
		<p class="caption">
			лет на рынке
		</p>
	</div>
	<div class="col-sm-4 col-lg-3 text-center thumbnail">
		<img src="assets/images/glad_clients.png" alt="bulba" class="img-responsive center-block">
		<p class="caption">
			Более 5000<br>довольных клиентов
		</p>
	</div>
	<div class="col-sm-4 col-lg-2 text-center thumbnail">
		<img src="assets/images/share.png" alt="bulba" class="img-responsive center-block">
		<p class="caption">
			Нас рекомендуют друзьям
		</p>
	</div>
	<div class="col-sm-6 col-lg-3 text-center thumbnail">
		<img src="assets/images/individual.png" alt="bulba" class="img-responsive center-block">
		<p class="caption">
			Индивидуальный<br>подход к заказчику
		</p>
	</div>
	<div class="col-sm-6 col-lg-2 text-center thumbnail">
		<img src="assets/images/timer.png" alt="bulba" class="img-responsive center-block">
		<p class="caption">
			Минимальные<br>сроки изготовления
		</p>
	</div>
</div>