<div class="header-bg">
    <div class="container">
      <div class="row">
        <header class="col col-xs-12 col-lg-8 col-sm-9 logo">
          <h1>
            <!-- <a href="index.html" class="pull-left hidden-xs hidden-sm"></a> -->
            Ваш Выбор!<br>
            <small>Смоленские металлические двери</small>
          </h1>
        </header>
        <div class="col col-xs-12 col-lg-4 col-sm-3 text-right h1 tel">
          <span class="glyphicon glyphicon-phone-alt hidden-xs hidden-sm" aria-hidden="true" aria-label="Тел.: "></span>

          <span class="hidden-sm hidden-md">8 (4812)&nbsp;</span>40-19-28<br>

          <button class="btn btn-warning hidden-xs" data-toggle="modal" data-target="#contact_form">
            Заказать звонок
          </button>
        </div>
      </div>
      <div class="row text-center utp">
        <div class="col col-xs-12">
          <h2>
            Успей оформить&nbsp;заказ до&nbsp;конца&nbsp;месяца<br>
            и получи мангал в&nbsp;подарок!<br>

            <small class="hidden-xs">До конца акции осталось:</small>
          </h2>
        </div>

        <!-- Таймер -->
        <div class="row">
          <div class="col col-xs-12 timer hidden-xs">
            <script src="http://megatimer.ru/s/9a9f2a56c36ef363872ea00949c8392b.js"></script>
          </div>
        </div>

        <button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#contact_form">Оставить заявку</button>
      </div>
    </div>
  </div>

  <!-- Модальное окно отправки формы -->
  <div class="modal fade" id="contact_form" tabindex="-1" role="dialog" aria-labelledby="modallabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
          </button>
          <h3 class="modal-title" id="modallabel">Оставьте контакт</h3>
        </div>
        <div class="modal-body">
          <!-- <p>Мы перезвоним Вам в ближайшее время на оставленный номер телефона. Пожалуйста, укажите также, как к Вам обратиться при разговоре:</p> -->
          <form action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Имя">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Телефон">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-warning btn-block" value="Оставить заявку">
            </div>

            <label class="text-info small text-right">
              <span class="glyphicon glyphicon-info-sign"></span>
              Ваши данные не будут переданы третьим лицам
            </label>
          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">
            Закрыть
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Конец модального окна отправки формы -->