<div class="header-bg">
    <div class="container">
      <div class="row">
        <header class="col-xs-12 col-lg-8 col-sm-9 logo">
          <h1>
            <!-- <a href="index.html" class="pull-left hidden-xs hidden-sm"></a> -->
            Ваш Выбор!<br>
            <small>Смоленские металлические двери</small>
          </h1>
        </header>
        <div class="col-xs-12 col-lg-4 col-sm-3 text-right h1 tel">
          <fa-icon class="hidden-xs hidden-sm mr-3" [icon]="['fas', 'mobile-alt']"></fa-icon>

          <span class="hidden-sm hidden-md">8 (4812)&nbsp;</span>40-19-28<br>

          <button class="btn btn-warning hidden-xs mt-2" data-toggle="modal" data-target="#contact_form">
            Заказать звонок
          </button>
        </div>
      </div>
      <div class="row text-center utp">
        <h2>
          Успей оформить&nbsp;заказ до&nbsp;конца&nbsp;месяца<br>
          и получи мангал в&nbsp;подарок!<br>
        </h2>
      </div>
      <div class="row text-center">
        <button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#contact_form">Оставить заявку</button>
      </div>
    </div>
  </div>

  <!-- Модальное окно отправки формы -->
  <div class="modal fade" id="contact_form" tabindex="-1" role="dialog" aria-labelledby="modallabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <fa-icon aria-hidden="true" [icon]="['fas', 'times']"></fa-icon>
          </button>
          <h3 class="modal-title" id="modallabel">Оставьте контакт</h3>
        </div>
        <div class="modal-body">
          <!-- <p>Мы перезвоним Вам в ближайшее время на оставленный номер телефона. Пожалуйста, укажите также, как к Вам обратиться при разговоре:</p> -->
          <form action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Имя">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Телефон">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-warning btn-block" value="Оставить заявку">
            </div>

            <label class="text-info small text-right">
              <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
              Ваши данные не будут переданы третьим лицам
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Конец модального окна отправки формы -->