<!-- <hr> -->
<div class="row">
    <div class="col col-xs-12">
      <h3>Приобрести металлическую дверь <b>очень просто</b>:</h3>

      <hr class="step-by-step">
      <div class="col col-xs-4 text-center step">
        <!-- <img src="assets/images/1.jpg" alt="bulba" class="img-circle img-responsive center-block"> -->
        <div class="glyphicon glyphicon-phone img-circle"></div>
        <p class="h4">
          <strong>Вызовите мастера</strong><br>
          для консультации
        </p>
      </div>
      <div class="col col-xs-4 text-center step">
        <!-- <img src="assets/images/1.jpg" alt="bulba" class="img-circle img-responsive center-block"> -->
        <div class="glyphicon glyphicon-check img-circle"></div>
        <p class="h4">
          <strong>Опишите свои пожелания,</strong><br>
          и мы предложим вариант
        </p>
      </div>
      <div class="col col-xs-4 text-center step">
        <!-- <img src="assets/images/1.jpg" alt="bulba" class="img-circle img-responsive center-block"> -->
        <div class="glyphicon glyphicon-list-alt img-circle"></div>
        <p class="h4">
          <strong>Оформляем договор</strong><br>
          и ждём установку!
        </p>
      </div>
    </div>
  </div>