<div class="steps">
  <h3>Приобрести металлическую дверь <b>очень просто</b>:</h3>
  <hr class="step-by-step">

  <div class="row">
    <div class="col text-center step">
      <div class="bg">
        <fa-icon [icon]="['fas', 'mobile-alt']"></fa-icon>
      </div>
      <p class="h4">
        <strong>Вызовите мастера</strong><br>
        для консультации
      </p>
    </div>
    <div class="col text-center step">
      <div class="bg">
        <fa-icon [icon]="['fas', 'check']"></fa-icon>
      </div>
      <p class="h4">
        <strong>Опишите свои пожелания,</strong><br>
        и мы предложим вариант
      </p>
    </div>
    <div class="col text-center step">
      <div class="bg">
        <fa-icon [icon]="['fas', 'list-alt']"></fa-icon>
      </div>
      <p class="h4">
        <strong>Оформляем договор</strong><br>
        и ждём установку!
      </p>
    </div>
  </div>
</div>