@import "./../../../styles/variables";

.step {
	.glyphicon {
	font-size: 10rem;
	background-color: $color-secondary;
	color: $color-bg;
	padding: 30px;
	}

	p strong {
		font-weight: 700;
	}

}

.step-by-step {
	height: 0px;
	position: absolute;
	top: 141px;
	width: 70%;
	margin-left: 15%;
	border-top: 10px dashed $color-bg;
}


@media (min-width: 768px) and (max-width: 991px) {
	.step {
		p {
			font-size: 1.5rem;
		}
	}
}


@media (max-width: 767px) {
	.step {
		.glyphicon {
			font-size: 7rem;
			padding: 25px;
		}

		p {
			font-size: 1.7rem;
			strong {
				font-weight: 400;
			}
		}
	}

	.step-by-step {
		top: 150px;
		border-width: 8px;
	}
}

@media (max-width: 320px) {
	.step {
		.glyphicon {
			font-size: 3.5rem;
			padding: 15px;
		}

		p {
			font-size: 1.1rem;
		}
	}

	.step-by-step {
		top: 110px;
		border-width: 4px;
  }
}