<hr>
<div class="row">
	<div class="col col-xs-12">
		<h3>Преимущества нашей продукции:</h3>
		<div class="row">
			<div class="col hidden-xs col-sm-4 col-md-5 col-lg-6">
				<div id="advantages-door"> <!-- class="pull-right" -->
					<ul>
						<li class="show"><img src="assets/images/doors3/door_1.jpg" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors3/door_2.jpg" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors3/door_3.jpg" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors3/door_4.jpg" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors3/door_5.jpg" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors3/door_6.jpg" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors3/door_7.jpg" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors3/door_8.jpg" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors3/door_9.jpg" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors3/door_10.jpg" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors3/door_11.jpg" alt="Наша Дверь" class="img-responsive"/></li>
					</ul>
				</div>
				<div id="advantages-door-2" class="visible-md visible-lg"> <!-- class="pull-right" -->
					<ul>
						<li class="show"><img src="assets/images/doors/door_4.png" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors/door_3.png" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors/door_1.png" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors/door_2.png" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors/door_5.png" alt="Наша Дверь" class="img-responsive"/></li>
					</ul>
				</div>
				<div id="advantages-door-3" class="visible-lg"> <!-- class="pull-right" -->
					<ul>
						<li class="show"><img src="assets/images/doors/door_1.png" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors/door_2.png" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors/door_3.png" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors/door_4.png" alt="Наша Дверь" class="img-responsive"/></li>
						<li><img src="assets/images/doors/door_5.png" alt="Наша Дверь" class="img-responsive"/></li>
					</ul>
				</div>
			</div>
			<div class="col col-xs-12 col-sm-8 col-md-7 col-lg-6">
				<ul class="media-list">
					<li class="media">
						<div class="media-left media-middle text-center">
							<!-- <img src="assets/images/2.jpg" alt="door"> -->
							<span class="glyphicon glyphicon-map-marker"></span>
							<!-- <div class="glyphicon glyphicon-home"></div> -->
						</div>
						<div class="media-body">
							<h4 class="media-heading">Смоленское производство</h4>
							<div>способствует быстрому изготовлению и наличию комплектующих</div>
						</div>
					</li>
					<li class="media">
						<div class="media-left media-middle text-center">
							<span class="glyphicon glyphicon-lock"></span>
							<!-- <div class="glyphicon glyphicon-cog"></div> -->
						</div>
						<div class="media-body">
							<h4 class="media-heading">Надёжность и безопасность</h4>
							<div>предоставляется гарантия производителя</div>
						</div>
					</li>
					<li class="media">
						<div class="media-left media-middle text-center">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							<!-- <div class="glyphicon glyphicon-check"></div> -->
							<!-- <div class="glyphicon glyphicon-th"></div> -->
						</div>
						<div class="media-body">
							<h4 class="media-heading">Большой выбор вариантов конструкции и&nbsp;отделки</h4>
							<div>а также готовых вариантов на складе</div>
						</div>
					</li>
					<li class="media">
						<div class="media-left media-middle text-center">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Высокое качество изготовления</h4>
							<div>благодаря современному оборудованию и опытным специалистам</div>
						</div>
					</li>
					<li class="media">
						<div class="media-left media-middle text-center">
							<span class="glyphicon glyphicon-education"></span>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Разумная комплектация</h4>
							<div>мастер даёт профессиональные рекомендации при выборе двери</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>