<hr>
<div class="row">
	<div class="col-xs-12">
		<h3>Получите <span class="text-danger">бесплатную</span> консультацию!</h3>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 callback">
			<h4>Позвоните нам по одному из телефонов:</h4>
			<ul class="list-unstyled">
				<li>8 (4812) 40-19-28</li>
				<li>8 (920) 304-48-07</li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-1 col-lg-2 or">
			<i>или</i>
		</div>

		<form action="" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-4 contacts">
			<h4>Закажите обратный звонок:</h4>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Имя">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Телефон">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-warning btn-block" value="Оставить заявку">
			</div>
			<label class="text-info small text-center">
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
				Ваши данные не будут переданы третьим лицам
			</label>
		</form>
	</div>
</div>